<div class='container p-10 font-light'>
  <h1 class='font-black text-4xl'>Welcome to M3O &lt;Embed /&gt;</h1>
  <h2 class='mt-6 font-light mb-10'>
    Embed M3O APIs without code using embedable widgets
  </h2>
  <div class="grid grid-cols-3 gap-4">
    <script src="widget.js" data-widget="hello-world"></script>
    <script src="widget.js" data-widget="url-shortener"></script>
  </div>
  <p>Copy code</p>
  <pre><code class='text-sm'>&lt;script src="https://embed.m3o.com/hello-world"&gt;&lt;/script&gt;</code></pre>
</div>