<section class="py-20">
  <div class="m3o-container">
    <h1 class="gradient-text text-6xl font-bold mb-4">Build Faster.</h1>
    <h2 class="text-zinc-300 text-2xl">Pre-built widgets that allow for <span class="gradient-text">rapid development</span> and easy M3O integration</h2>
  </div>
</section>

<div class='p-10 font-light'>
  <div class="grid grid-cols-3 gap-4">
    <script src="hello-world.js"></script>
    <script src="url-shortener.js"></script>
  </div>
  <p>Copy code</p>
  <pre><code class='text-sm'>&lt;script src="https://embed.m3o.com/hello-world"&gt;&lt;/script&gt;</code></pre>
</div>