<html>
  <head>
    <meta charset='utf-8' />
    <title>Example App</title>
    <link rel='stylesheet' href='/main.css' />
  </head>
  <body class='font-light bg-zinc-900 text-white'>
    <header>
      <div class="container max-w-7xl mx-auto">
        <div>
          <a href="/" class="w-14 block">
            <img src="/logo-white.png" width="368" height="236" />
          </a>
        </div>
      </div>
    </header>
    <main>
      {{{body}}}
    </main>
  </body>
</html>