<div>
  <div id='widget-container'>
    {{! This will be rendered on load }}
    <div id='hello-world-widget'>
      <h1>Hello World Widget</h1>
      <form>
        <input type='text' name='hello-world-widget-name' />
        <button>Say Hello</button>
      </form>
      <p id='hello-world-widget-response'></p>
    </div>
  </div>
</div>