<h1>Welcome to M3O Embed</h1>
{{! 
  What's the goal:
    -> The user needs to be able to create reusable components that can be imported elsewhere.
    

 }}

<blockquote class='twitter-tweet'>
  <p lang='en' dir='ltr'>It&#39;s a sad day for honorary Hawkins residents:
    <a
      href='https://twitter.com/hashtag/StrangerThings?src=hash&amp;ref_src=twsrc%5Etfw'
    >#StrangerThings</a>
    will end with season five.
    <a href='https://t.co/QLKNh4C7Yy'>https://t.co/QLKNh4C7Yy</a></p>&mdash;
  POPSUGAR (@POPSUGAR)
  <a
    href='https://twitter.com/POPSUGAR/status/1494360004735946755?ref_src=twsrc%5Etfw'
  >February 17, 2022</a></blockquote>
<script
  async
  src='https://platform.twitter.com/widgets.js'
  charset='utf-8'
></script>