<html>
  <head>
    <meta charset='utf-8' />
    <title>Example App</title>
    <link rel='stylesheet' href='/main.css' />
  </head>
  <body class='text-zinc-500 font-light'>
    {{{body}}}
  </body>
</html>