<div class="container p-10 font-light">
  <h1 class="font-black text-4xl text-black">Welcome to M3O &lt;Embed /&gt;</h1>
  <h2 class="mt-6 font-light mb-10">
    Embed M3O APIs without code using embeddable widgets
  </h2>
  <h3 class="text-xl text-black">👋 Hello World Widget</h3>
  <div id="m3o-helloworld-widget">
  </div>
  <script src="http://localhost:1234/helloworld.js"></script>
  <p>Copy code</p>
  <pre><code class="text-sm">&lt;div id="m3o-helloworld-widget"&gt;&lt;/div&gt;
&lt;script src="https://embed.m3o.com/helloworld.js"&gt;&lt;/script&gt;</code></pre>
</div>