<h1>Create a widget</h1>

<h2>Pick a widget template</h2>
<ul>
  <li>
    <button data-widget-template='hello-world'>
      <h3>Hello World</h3>
      <p>Generate a card that calls the "hello world" api</p>
    </button>
  </li>
  <li>
  </li>
</ul>